@media (max-width: 480px) {
    .calculator-wrapper {
        padding: 25px;
    }
    
    #screen {
        font-size: 2.5rem;
    }
    
    .btn {
        padding: 18px;
        font-size: 1.3rem;
    }
    
    header h1 {
        font-size: 1.5rem;
    }
    
    .theme-toggle {
        width: 45px;
        height: 45px;
        font-size: 1.1rem;
    }
}